apiVersion: apps/v1
kind: Deployment
metadata:
  name: coinbasepro-fh
  labels:
    app: coinbasepro-fh
spec:
  replicas: 1
  selector:
    matchLabels:
      app: coinbasepro-fh
  template:
    metadata:
      labels:
        app: coinbasepro-fh
    spec:
      containers:
        - name: coinbasepro-fh
          image: {{ serenity_image }}
          command: ["/app/venv-py3/bin/python"]
          args: ["serenity/marketdata/fh/coinbasepro_fh.py", "--config_path", "/etc/config/environments/{{ env }}/feedhandlers/coinbasepro_fh.cfg"]
          env:
            - name: FLASK_ENV
              value: development
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: HOST_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
